 /**
  * Stylesheet for OU Lib Bootstrap //
  *
  * Table of Contents
   - - - - - - - - -
   
   Navbar & Menus
  


  
   - - - - - - - - -
  */

/**
* Navbar & Menus
*/

.navbar {
	background-color:#3d3d3d;
	font-size: 1.1em;
	font-family: 'Droid Sans';
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: .05em;
	width: 100%;
	border-radius: 0;
	border: 0px solid #3d3d3d;
	box-shadow: 0px 5px 5px #bbb; 
	-moz-box-shadow: 0px 5px 5px #bbb; 
	-webkit-box-shadow: 0px 5px 5px #bbb; 
	-o-box-shadow: 0px 5px 5px #bbb;
}

.navbar ul.menu.nav{
	line-height: 1.5em;
}


/* responsive text queries */
@media screen and (max-width: 1205px) {
.navbar {
    font-size: 85%;
  }
}

@media screen and (max-width: 1025px) {
.navbar {
    font-size: 11px;
  }
 
}

@media screen and (max-width: 1005px) {
.navbar {
    font-size: 9px;
  }
 
}

.navbar-default {
    background-color: #3d3d3d;
    border-color: #3d3d3d;
}

.navbar-default .navbar-link {
    color: #ececec;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #ececec;
    background-color: #3d3d3d;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    color: #ececec;
    background-color: #3d3d3d;
}

.navbar-default .navbar-nav>li>a {
    color: #ececec;
	border-bottom: 10px solid #3d3d3d;
	-webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
		
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    color: #ececec;
    background-color: #3d3d3d;
}
	
.navbar-default .navbar-nav>li>a:hover {
    color: #ececec;
	border-bottom: 10px solid #428bca;
	background-color: #2a2a2a;
	-webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.navbar-default .navbar-link:hover {
    color: #ececec;
	border-bottom: 10px solid #428bca;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
	color: #ececec;
    background-color: #2a2a2a;
	border-bottom: 10px solid #428bca;
}

.navbar-default .navbar-nav .open .dropdown-menu>.active>a, .navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover, .navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus {
    color: #ececec;
	border: 1px solid #000;
    background-color: #3d3d3d;
}

.navbar-default .navbar-toggle {
    background-color: #2a2a2a;
    border: 0;
	position: relative;
    float: right;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
	color: #660000;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #2a2a2a;
	border: 0;
	color: #660000;
}

.navbar-collapse {
    max-height: 500px; /* fixes the vertical scrollbar issue upon collapse */
	overflow-x: hidden;
	text-align: center;
}

.navbar-collapse img{
	margin-left: auto;
	margin-right: auto;
	float: left;
}

.navbar-toggle .icon-bar {
    color: #428bca;
}

.navbar-toggle .icon-bar+.icon-bar {
    color: #428bca;
}

.navbar-default .navbar-nav .open .dropdown-menu>.disabled>a, .navbar-default .navbar-nav .open .dropdown-menu>.disabled>a:hover, .navbar-default .navbar-nav .open .dropdown-menu>.disabled>a:focus {
    color: #428bca;
}



ul.main-menu  li{
	float: left;
}

ul.main-menu.nav{
	line-height: 0px;
}

/* responsive text queries */
@media screen and (max-width: 992px) {
.main-menu {
    font-size: 90%;
  }
}

@media screen and (max-width: 991px) {
.main-menu {
    font-size: 11px;
  }
}

@media (max-width: 766px) {
.navbar-collapse ul li, .in ul li  {
	float:none;
  }
}

ul.main-menu li a {
    color: #ececec;
	border-bottom: 10px solid transparent;
	background-color: #3d3d3d;
	-webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

ul.main-menu li a:hover {
    color: #ececec;
	border-bottom: 10px solid #298ac4;
	background-color: #2a2a2a;
	-webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.main-menu {
    background-color: #3d3d3d;
    border-color: #3d3d3d;
}

.main-menu-container{
	padding: 0;
}

.navbar-default .navbar-brand{
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}

.navbar-brand{
	font-family: 'Droid Sans';
	font-size: 1.20em;
	color: #fff;
	background-color: #1c1c1c;
	line-height: 20px;
	height: 60px;
	padding: 15px 15px 40px 15px;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	-webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.navbar-brand:hover{
	color: #fff;
	background-color: #1c1c1c;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	-webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}


.nav>li>a:hover {
    background-color: transparent;
}

.nav>li>a:hover, .nav>li>a:focus {
    text-decoration: none;
    background-color: transparent;
}

ul.menu.nav{
	line-height: 1em;
}
